body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

.background-video {
    position: fixed; /* Use fixed positioning */
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Send to background */
    transform: translate(-50%, -50%); /* Center the video */
}
